.navbar-nav {
    /* display: contents; */
    text-align: -webkit-right;
    
  
  }
  
  .navbar-nav a {
  padding: 10vh;
  font-size: larger;
  align-content: center;
  text-decoration: none;  
}

.nav-item {
    text-decoration: none;
}